<!--footer-->
<div class="footer">
    <p>&copy; 2022 Suryabala Seva Sansthan. All Rights Reserved | Design by <!--<a> href="https://w3layouts.com/" target="_blank">w3layouts</a>--> Group No. 42</p>		
 </div>
 <!--//footer-->
 </div>