<section class="counter-area theme-bg pt-50 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-30">
                <div class="counetrs text-center wow fadeInUp2 animated" data-wow-delay='.1s'>
                    <div class="counetrs__icon mb-20"><i class="flaticon-social-care"></i></div>
                    <h1><span class="counter"><%= volunteer[0].vol %></span></h1>
                    <p style="text-align:center">Volunteer</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-30">
                <div class="counetrs text-center wow fadeInUp2 animated" data-wow-delay='.3s'>
                    <div class="counetrs__icon mb-20"><i class="flaticon-donation"></i></div>
                    <h1><span class="counter"><%= contributors[0].usr %></span></h1>
                    <p style="text-align:center">Contributors</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-30">
                <div class="counetrs text-center wow fadeInUp2 animated" data-wow-delay='.5s'>
                    <div class="counetrs__icon mb-20"><i class="flaticon-ecological"></i></div>
                    <h1><span class="counter"><%= donations[0].total %></span></h1>
                    <p style="text-align:center">Total Donations</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 mb-30">
                <div class="counetrs text-center wow fadeInUp2 animated" data-wow-delay='.7s'>
                    <div class="counetrs__icon mb-20"><i class="flaticon-community"></i></div>
                    <h1><span class="counter"><%= event_held[0].evt %></span></h1>
                    <p style="text-align:center">Events Held</p>
                </div>
            </div>
        </div>
    </div>
</section>