<!doctype html>
<html class="no-js" lang="">


<!-- Mirrored from www.devsnews.com/template/enacare/enacare/donation.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 10 Jan 2022 05:33:47 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Suryabala Seva Sansthan</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.html">
    <link rel="shortcut icon" type="image/x-icon" href="/users/assets/img/favicon.html">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/users/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/users/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/users/assets/css/animate.css">
    <link rel="stylesheet" href="/users/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/users/assets/css/all.min.css">
    <link rel="stylesheet" href="/users/assets/css/flaticon.css">
    <link rel="stylesheet" href="/users/assets/css/font.css">
    <link rel="stylesheet" href="/users/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/users/assets/css/metisMenu.css">
    <link rel="stylesheet" href="/users/assets/css/nice-select.css">
    <link rel="stylesheet" href="/users/assets/css/slick.css">
    <link rel="stylesheet" href="/users/assets/css/main.css">
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- Add your site or application content here -->
    <!-- preloader -->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- preloader end  -->
    <!-- header-area start -->
    <%- include('header'); -%>
    <!-- header-area end -->

    <!-- slide-bar start -->
    <%- include('sidebar'); -%>
    <!-- slide-bar end -->

    <main>

        <!--page-title-area start-->
        <section class="page-title-area" style="background-image: url(/users/assets/img/bg/20.png);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 offset-xl-3">
                        <div class="page-title-wrapper text-center pt-125">
                            <div class="page-title-box">
                                <h2 class="page-title">Donation Form</h2>
                                <ul class="breadcrumb-list">
                                    <li><a href="/users/">Home <i class="far fa-chevron-right"></i></a></li>
                                    <li><a href="/users/donation">Donation Form</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--page-title-area end-->
        <!--<div class="donar-information donation-form white-bg mb-30 wow fadeInUp2 animated" data-wow-delay='.1s'>
            <div class="section-title text-left mb-50">
                <div class="donation-form-center">
                <h6><span><i class="fas fa-heart"></i></span> Donation Now</h6>
                <h2>Payment Mode</h2>
            </div>
            <ul class="nav nav-tabs mb-15" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                        aria-controls="home" aria-selected="true">Using UPI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                        aria-controls="profile" aria-selected="false">CARDS</a>
                </li>
            </ul>
        </div>
        </div> -->
        <!--donation-form-area start-->
        <section class="donation-form-area-02 grey-bg2 pt-125 pb-100">
            
            <div class="container">
                <div class="row1">
                    <div class="col-xl-12 col-lg-12  col-md-12">
                        <div class="donation-form-center">
                            <div class="doante-select-area donate-select-area-04 mb-30 text-center white-bg wow fadeInUp2 animated"
                                data-wow-delay='.1s'>
                                <div class="section-title text-left mb-45">
                                    <h6><span><i class="fas fa-rupee-sign"></i></span> Donate Now</h6>
                                    <h2>Raise Your Hand To Right<br> 
                                        Place Or Foundation</h2>
                                </div>
                                <!--<div class="select-area mb-10">
                                    <select name="fund" id="fund">
                                        <option value="Select Fund">Select Fund</option>
                                        <option value="Select Fund">Poor Fund</option>
                                        <option value="Select Fund">Refugee Fund</option>
                                        <option value="Select Fund">Education Fund</option>
                                        <option value="Select Fund">Water Fund</option>
                                    </select>
                                </div>-->
                                <div class="donate-cart pos-rel mb-10">
                                    <form id="donation" name="donation" method="post" class="donate-btn pos-rel">
                                        <input type="number" id="donation_val" class="form-control" name="donation_amount"><br>
                                        <div class="col-xl-12">
                                            <button type="submit" id="donation_button" name="donation_button" class="theme_btn theme_btn_bg"><a href="https://pages.razorpay.com/suryabala">Confirm</a></button>
                                        </div>
                                    </form>
                                    <div class="plus-minus">
                                       <!--<div class="cart inc"><i class="far fa-chevron-left"></i></div>-->
                                        <div style="margin-left: 200px;" class="cart inc"><i class="far fa-rupee-sign"></i></div>
                                        <!--<div class="cart dec"><i class="far fa-chevron-right"></i></div>-->
                                    </div>
                                </div>
                                <!--<div class="input-donate mb-10">
                                    <button class="cont_btn">₹15</button>
                                    <button class="cont_btn">₹50</button>
                                    <button class="cont_btn">₹100</button>
                                    <button class="cont_btn">₹500</button>
                                    <button class="cont_btn">₹1000</button>
                                </div>-->
                            <br><br><br>
                        </div>
                            <!--<div class="donar-information donation-form white-bg mb-30 wow fadeInUp2 animated" data-wow-delay='.1s'>
                                <div class="section-title text-left mb-50">
                                    <h6><span><i class="fas fa-heart"></i></span> Donation Now</h6>
                                    <h2>Payment Details</h2>
                                </div>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="home" role="tabpanel"
                                        aria-labelledby="home-tab">
                                        <div class="row payment-inner">
                                            <form action="#">
                                                <div class="row">
                                                    <div class="col-xl-6">
                                                        <div class="input-area mb-30">
                                                            <input type="text" class="form-control" placeholder="Your Name">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <div class="input-area mb-30">
                                                            <input type="text" class="form-control" placeholder="Your Phone">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <div class="input-area mb-30">
                                                            <input type="text" class="form-control" placeholder="Email Address">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <div class="input-area mb-30">
                                                            <input type="text" class="form-control" placeholder="Country">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-12">
                                                        <button class="theme_btn theme_btn_bg">Donate now</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="payment-inner">
                                            <div class="col-xl-12">
                                                <p class="mb-30">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi artecto beatae vitae dicta sunt explicabo emo enim ipsam voluptatem</p>
                                            </div>
                                            <form action="#">
                                                <div class="row">
                                                    <div class="col-xl-6">
                                                        <div class="input-area mb-30">
                                                            <input type="text" class="form-control" placeholder="Your Name">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <div class="input-area mb-30">
                                                            <input type="text" class="form-control" placeholder="Your Phone">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <div class="input-area mb-30">
                                                            <input type="text" class="form-control" placeholder="Email Address">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <div class="input-area mb-30">
                                                            <input type="text" class="form-control" placeholder="Country">
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-12"> 
                                                        <button class="theme_btn theme_btn_bg " >Donate now</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
        <!--donation-form-area end-->
    </main>
    <!--footer-area start-->
    <%- include('footer'); -%>
    <!--footer-area end-->



    <!-- JS here -->
    <script src="/users/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/users/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/users/assets/js/popper.min.js"></script>
    <script src="/users/assets/js/bootstrap.min.js"></script>
    <script src="/users/assets/js/owl.carousel.min.js"></script>
    <script src="/users/assets/js/isotope.pkgd.min.js"></script>
    <script src="/users/assets/js/slick.min.js"></script>
    <script src="/users/assets/js/jquery.meanmenu.min.js"></script>
    <script src="/users/assets/js/metisMenu.min.js"></script>
    <script src="/users/assets/js/jquery.nice-select.js"></script>
    <script src="/users/assets/js/ajax-form.js"></script>
    <script src="/users/assets/js/wow.min.js"></script>
    <script src="/users/assets/js/jquery.counterup.min.js"></script>
    <script src="/users/assets/js/waypoints.min.js"></script>
    <script src="/users/assets/js/jquery.scrollUp.min.js"></script>
    <script src="/users/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/users/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/users/assets/js/jquery.easypiechart.js"></script>
    <script src="/users/assets/js/tilt.jquery.js"></script>
    <script src="/users/assets/js/parallax.min.js"></script>
    <script src="/users/assets/js/plugins.js"></script>
    <script src="/users/assets/js/main.js"></script>


    <!-- Jquery Validatio Code Start-->
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/additional-methods.js"></script>
<script>
    $("#donation").validate({
        rules: {
            donation_val: {
                required: true,
                digits: true
            }
        },
        messages: {
            donation_val: {
                required: "This field is required.",
                digits: "This field must only consists numbers."
            }
        }
    });
</script>
<style>
    .error{
        color:#d9534f;
    }
</style>
<!--Jquery Validatio Code End -->
</body>


<!-- Mirrored from www.devsnews.com/template/enacare/enacare/donation.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 10 Jan 2022 05:33:47 GMT -->
</html>