<div class="col-xl-4 col-lg-4 col-md-12">
    <div class="details-right-area">
        <div class="widget white-bg mb-30 wow fadeInUp2 animated" data-wow-delay='.2s'>
            <div class="widget-post">
                <h3 class="cases-title mb-30">Popular Cases</h3>
                <div class="post d-flex align-items-center mb-20">
                    <div class="post__thumb mr-20">
                        <img src="/assets/img/cases/20.jpg" alt="">
                    </div>
                    <div class="post__content">
                        <h5><a href="blog-details.html">Help Us For Mineral
                                Water Provides</a></h5>
                        <a class="view_btn" href="blog-details.html">view Details</a>
                    </div>
                </div>
                <div class="post d-flex align-items-center mb-20">
                    <div class="post__thumb mr-20">
                        <img src="/assets/img/cases/21.jpg" alt="">
                    </div>
                    <div class="post__content">
                        <h5><a href="blog-details.html">Help Us For Food
                                Water Provides</a></h5>
                        <a class="view_btn" href="blog-details.html">view Details</a>
                    </div>
                </div>
                <div class="post d-flex align-items-center mb-20">
                    <div class="post__thumb mr-20">
                        <img src="/assets/img/cases/22.jpg" alt="">
                    </div>
                    <div class="post__content">
                        <h5><a href="blog-details.html">Care Us For Cloths
                                Other Provides</a></h5>
                        <a class="view_btn" href="blog-details.html">view Details</a>
                    </div>
                </div>
                <div class="post d-flex align-items-center mb-20">
                    <div class="post__thumb mr-20">
                        <img src="/assets/img/cases/23.jpg" alt="">
                    </div>
                    <div class="post__content">
                        <h5><a href="blog-details.html">Help Us For Mineral
                                Water Provides</a></h5>
                        <a class="view_btn" href="blog-details.html">view Details</a>
                    </div>
                </div>
                <div class="post d-flex align-items-center mb-20">
                    <div class="post__thumb mr-20">
                        <img src="/assets/img/cases/24.jpg" alt="">
                    </div>
                    <div class="post__content">
                        <h5><a href="blog-details.html">Help Us For Mineral
                                Water Provides</a></h5>
                        <a class="view_btn" href="blog-details.html">view Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>