<!doctype html>
<html class="no-js" lang="">


<!-- Mirrored from www.devsnews.com/template/enacare/enacare/gallery.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 10 Jan 2022 05:33:39 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Suryabala Seva Sansthan</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="manifest" href="site.html">
    <link rel="shortcut icon" type="image/x-icon" href="/users/assets/img/favicon.html">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/users/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/users/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/users/assets/css/animate.css">
    <link rel="stylesheet" href="/users/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/users/assets/css/all.min.css">
    <link rel="stylesheet" href="/users/assets/css/flaticon.css">
    <link rel="stylesheet" href="/users/assets/css/font.css">
    <link rel="stylesheet" href="/users/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/users/assets/css/metisMenu.css">
    <link rel="stylesheet" href="/users/assets/css/nice-select.css">
    <link rel="stylesheet" href="/users/assets/css/slick.css">
    <link rel="stylesheet" href="/users/assets/css/main.css">
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- Add your site or application content here -->
    <!-- preloader -->
    <div id="preloader">
        <div class="preloader">
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- preloader end  -->
    <!-- header-area start -->
    <%- include('header'); -%>
    <!-- header-area end -->

    <!-- slide-bar start -->
    <%- include('sidebar'); -%>
    <!-- slide-bar end -->

    <main>
        <!--page-title-area start-->
        <section class="page-title-area" style="background-image: url(/users/assets/img/bg/16.jpg);">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 offset-xl-3">
                        <div class="page-title-wrapper text-center pt-125">
                            <div class="page-title-box">
                                <h2 class="page-title">Gallery </h2>
                                <ul class="breadcrumb-list">
                                    <li><a href="/users/index">Home <i class="far fa-chevron-right"></i></a></li>
                                    <li><a href="/users/gallery">Gallery </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--page-title-area end-->
        <!--gallery-area start-->
        <section class="gallery-area pt-130 pb-100">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="gallery pos-rel text-center wow fadeInUp2 animated" data-wow-delay='.3s'>
                                    <div class="gallery__thumb pos-rel mb-30">
                                        <img src="/users/assets/img/gallery/01-11.jpg" alt="">
                                    </div>
                                    <div class="gallery__content">
                                        <a class="popup-image" href="/users/assets/img/gallery/01-1.jpg"><i class="far fa-plus"></i></a>
                                        <h3>Plantation</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="gallery pos-rel text-center wow fadeInUp2 animated" data-wow-delay='.3s'>
                                    <div class="gallery__thumb pos-rel mb-30">
                                        <img src="/users/assets/img/gallery/02-11.jpg" alt="">
                                    </div>
                                    <div class="gallery__content">
                                        <a class="popup-image" href="/users/assets/img/gallery/02-1.jpg"><i class="far fa-plus"></i></a>
                                        <h3>Blood Donation</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="gallery pos-rel text-center wow fadeInUp2 animated" data-wow-delay='.3s'>
                                    <div class="gallery__thumb pos-rel mb-30">
                                        <img src="/users/assets/img/gallery/03-11.jpg" alt="">
                                    </div>
                                    <div class="gallery__content">
                                        <a class="popup-image" href="/users/assets/img/gallery/03-1.jpg"><i class="far fa-plus"></i></a>
                                        <h3>Educational Donation</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="gallery pos-rel text-center wow fadeInUp2 animated" data-wow-delay='.3s'>
                                    <div class="gallery__thumb pos-rel mb-30">
                                        <img src="/users/assets/img/gallery/04-11.jpg" alt="">
                                    </div>
                                    <div class="gallery__content">
                                        <a class="popup-image" href="/users/assets/img/gallery/04-1.jpg"><i class="far fa-plus"></i></a>
                                        <h3>Cloth Donation</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="gallery pos-rel text-center wow fadeInUp2 animated" data-wow-delay='.3s'>
                            <div class="gallery__thumb pos-rel mb-30">
                                <img src="/users/assets/img/gallery/05-11.jpg" alt="">
                            </div>
                            <div class="gallery__content">
                                <a class="popup-image" href="/users/assets/img/gallery/05-1.jpg"><i class="far fa-plus"></i></a>
                                <h3>Quality Education</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class="gallery pos-rel text-center wow fadeInUp2 animated" data-wow-delay='.3s'>
                            <div class="gallery__thumb pos-rel mb-30">
                                <img src="/users/assets/img/gallery/06-11.jpg" alt="">
                            </div>
                            <div class="gallery__content">
                                <a class="popup-image" href="/users/assets/img/gallery/06-1.jpg"><i class="far fa-plus"></i></a>
                                <h3>Education is Life</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="gallery pos-rel text-center wow fadeInUp2 animated" data-wow-delay='.3s'>
                                    <div class="gallery__thumb pos-rel mb-30">
                                        <img src="/users/assets/img/gallery/07-11.jpg" alt="">
                                    </div>
                                    <div class="gallery__content">
                                        <a class="popup-image" href="/users/assets/img/gallery/07-1.jpg"><i class="far fa-plus"></i></a>
                                        <h3>Always Ready For Duty</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="gallery pos-rel text-center wow fadeInUp2 animated" data-wow-delay='.3s'>
                                    <div class="gallery__thumb pos-rel mb-30">
                                        <img src="/users/assets/img/gallery/08-11.jpg" alt="">
                                    </div>
                                    <div class="gallery__content">
                                        <a class="popup-image" href="/users/assets/img/gallery/08-1.jpg"><i class="far fa-plus"></i></a>
                                        <h3>Uttrayan Celebration</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="gallery pos-rel text-center wow fadeInUp2 animated" data-wow-delay='.3s'>
                                    <div class="gallery__thumb pos-rel mb-30">
                                        <img src="/users/assets/img/gallery/09-11.jpg" alt="">
                                    </div>
                                    <div class="gallery__content">
                                        <a class="popup-image" href="/users/assets/img/gallery/09-1.jpg"><i class="far fa-plus"></i></a>
                                        <h3>No Age Limitation For Good Work</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="gallery pos-rel text-center wow fadeInUp2 animated" data-wow-delay='.3s'>
                                    <div class="gallery__thumb pos-rel mb-30">
                                        <img src="/users/assets/img/gallery/10-11.jpg" alt="">
                                    </div>
                                    <div class="gallery__content">
                                        <a class="popup-image" href="/users/assets/img/gallery/10-1.jpg"><i class="far fa-plus"></i></a>
                                        <h3>Donation Drive</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--gallery-area end-->
    </main>
    <!--footer-area start-->
    <%- include('footer'); -%>
    <!--footer-area end-->



    <!-- JS here -->
    <script src="/users/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/users/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/users/assets/js/popper.min.js"></script>
    <script src="/users/assets/js/bootstrap.min.js"></script>
    <script src="/users/assets/js/owl.carousel.min.js"></script>
    <script src="/users/assets/js/isotope.pkgd.min.js"></script>
    <script src="/users/assets/js/slick.min.js"></script>
    <script src="/users/assets/js/jquery.meanmenu.min.js"></script>
    <script src="/users/assets/js/metisMenu.min.js"></script>
    <script src="/users/assets/js/jquery.nice-select.js"></script>
    <script src="/users/assets/js/ajax-form.js"></script>
    <script src="/users/assets/js/wow.min.js"></script>
    <script src="/users/assets/js/jquery.counterup.min.js"></script>
    <script src="/users/assets/js/waypoints.min.js"></script>
    <script src="/users/assets/js/jquery.scrollUp.min.js"></script>
    <script src="/users/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/users/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/users/assets/js/jquery.easypiechart.js"></script>
    <script src="/users/assets/js/tilt.jquery.js"></script>
    <script src="/users/assets/js/parallax.min.js"></script>
    <script src="/users/assets/js/plugins.js"></script>
    <script src="/users/assets/js/main.js"></script>
</body>


<!-- Mirrored from www.devsnews.com/template/enacare/enacare/gallery.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 10 Jan 2022 05:33:42 GMT -->
</html>